<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="<%= theme_color %>">
    <title><%= title %></title>
    <%- css %>
    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <main role="main" id="main" class="container-fluid">
        <div class="text-muted" style="margin: auto; position: absolute;"><i class="fas fa-circle-notch fa-spin"></i> Loading...</div>
    </main>
   <%- js %>
  </body>
</html>
